.newBoardTitle {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    text-align: center;
}

.add-board-buttons-section {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

form.add-board-form {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 6px 15px 0px #c3c3c3;
    background-color: white;
}

.add-board-form {
    display: grid;
    gap: 15px;
}


.form-group {
    display: grid;
    gap: 7px;
}

.error{color:red}