form.login {
    max-width: 500px;
    margin: 2rem auto;
    padding: 20px;
    box-shadow: 0px 6px 15px 0px #c3c3c3;
    background-color: white;
}

.login {
    display: grid;
    gap: 15px;
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    text-align: center;
}

.form-group {
    display: grid;
    gap: 7px;
}

.error{color:red}